.sheet > div {
  height: min(698px, 90dvh);
  padding-bottom: env(safe-area-inset-bottom);
}

.sheet > div > div:first-child {
  position: relative;
  height: 56px;
  padding: 8px 20px;
}

.sheet h2 {
  text-align: center;
}

.sheet > div > div:first-child > button {
  position: absolute;
  right: 8px;
  opacity: 0;
}

.sheet > div > div:first-child > button:focus-visible {
  opacity: 1;
}

.sheet > div > div:nth-child(2) {
  padding: 0 20px 32px;
  scrollbar-width: none;
}

.sheet > div > div:last-child {
  border: 0;
  padding: 24px 20px 8px;
  box-shadow: 0 -4px 5px rgb(0 0 0 / 5%);
}
